* {
  margin:0;
  padding:0;  
}
body {
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: lightgray;
    color: #777777;
}
/*header menus start */
header {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: white;
    height: 50px;
    width:100%;
    border-bottom: 1px solid;
    border-color: #cccccc;
    position:fixed;
    top:0;
    z-index: 10;
}

#header_div{
    position:relative;
    width:960px;
    height: 50px;
    margin:auto;
}

h1 {
    font-size: 22px;
}

#portfolio_name{
    position:absolute;
    bottom:0;
    color:white;
    float:left;
    width: 170px;
    background-color: #4aaaa5;
    line-height:50px;
    margin-left:10px;
}
#header_menu{
    float:right;
}

#header_menu a:hover{
    color: #4aaaa5;
}

a{
    color: gray;
    padding-left:20px;
    text-decoration: none;
    line-height:50px;
}

/*header menu end*/

/*container*/
.container{
    width: 900px;
    margin:auto;
    margin-top:70px;
    background-color: white;
    padding: 30px;
    border:2px solid;
    border-color:#dddddd;
}

.container h1{
    font-size:25px;
    color: #4aaaa5;
    border-bottom: 2px solid;
    border-color: lightgray;
    padding-bottom: 15px;
    margin-bottom:15px;
}

img {
    height: 200px;
    width: 200px;
    float:left;
    margin-right: 10px;
    margin-bottom: 10px;
}
/*container end*/

/*portfolio page*/
.portfolio_images{
    position: relative;
    float:left;
    margin-bottom: 20px;
    margin-right: 20px;
    height: 300px;
    width: 300px;
}

.portfolio_images img{
    height: 300px;
    width: 300px;
}

.portfolio_images div{
    position: absolute;
    bottom:20px;
    width: 300px;
    color: white;
    text-align: center;
    padding-top:10px;
    padding-bottom:10px;
    background-color: #4aaaa5;
}
section{
    height: auto;
    padding: 10px;
}
/*portfolio page end*/


footer{
    height: 40px;
    width: 100%;
    background-color: #666666;
    border-top: 5px solid;
    border-top-color: #4aaaa5;
    position:fixed;
    bottom:0px;
}

footer p{
    width: 100%;
    position: fixed;
    bottom:2px;
    text-align: center;
    font-size: 10px;
    line-height: 40px;
    color: lightgrey;
}

.clearfix::after{
	content: “”;
	display: table;
	clear:both;
}

/*Contact button */
#submit{
    background-color: #4aaaa5;
    color: white;
    margin-top: 10px;
    padding: 5px 15px 5px 15px;
}

/*Input boxes*/
textarea{
    width:100%;
    border-color: lightgrey;
    margin-top: 5px;
    margin-bottom:5px;
}
input{
    width:100%;
    margin-top: 5px;
    margin-bottom:5px;
}

@media (min-width: 400px) {
    .container{
        margin-top:120px;
        margin-bottom:60px;
        width:80%;
    }

    #portfolio_name{
        position:relative;
        width:100%;
        text-align: center;
        margin-left:10px;
    }

    #header_menu{
        float:none;
        text-align: center;
    }

    #header_div{
        width:100%;;
        height: 100px;
        margin:auto;
        background-color:white;
    }

}


@media (min-width: 700px) {
    #header_div{
        width:100%;;
        height: 50px;
        background-color:white;
    }

    .container{
        width:90%;
        margin-top:70px;
        margin-bottom:60px;
    }

    #portfolio_name{
        position:none;
        width:170px;
        height:50px;
        text-align: center;
        margin-left:10px;
    }

    #header_menu{
        float:right;
        margin-right:10px;
    }
}

@media (min-width: 900px) {
    .container{
        width:60%;
        margin-left:30px;
    }

    #portfolio_name{
        margin-left:30px;
    }

    #header_menu{
        margin-right:30px;
    }
}